*.class
*.md
target/
/bin/

*.cache-main
.settings/org.eclipse.core.resources.prefs
*.cache-tests
.cache-main
.settings/org.eclipse.core.resources.prefs
*.classpath
*.cache-main
.cache-tests
.settings/org.eclipse.core.resources.prefs
.worksheet/src/com.inbravo.ws.Addhoc.scala
*.crc
people.parquet/
people.delta/
.cache-main
.cache-tests
.cache-main
.cache-tests
